.container {
}

.turnover {
  display: flex;
  align-items: center;
  background-color: rgba(255, 124, 124, 0.15);
  height: 30px;
  font-size: 16px;
  padding: 4px 8px;
}

.upCount {
  display: flex;
  align-items: center;
  background-color: rgba(254, 188, 46, 0.15);
  height: 30px;
  font-size: 16px;
  padding: 4px 8px;
  .high {
    color: red;
  }
  .low {
    color: blue;
  }
}

.name {
  display: inline-block;
  font-size: 12px;
  transform: scale(0.85);
}

.date {
  display: flex;
  align-items: center;
  font-size: 16px;
  .icon {
    margin-left: 10px;
  }
}

.time {
  padding: 0 !important;
}

th.time {
  padding: 4px 8px !important;
}